# App Configuration
NODE_ENV=development
PORT=3030
CHAIN_ID=1
TO_BLOCK=0
FROM_BLOCK=12376729
WINDOW_SIZE=100
CONFIRMATION_DEPTH=12
POOL_FEE=500
POOL_CONTRACT_ADDRESS=0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640
INDEXING_MODE=ingestion # ingestion | indexer | none

# Redis Configuration
REDIS_PORT=6379
REDIS_HOST=localhost

# Mongo Configuration
MONGO_URL=mongodb://localhost/oracle

# API Keys
ETHERSCAN_APIS=
ETHERSCAN_BASE_URL=https://api.etherscan.io/v2/api

THE_GRAPH_API_KEY=